[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
psycopg = {extras = ["binary"], version = "*"}
pypika = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3"
